@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background: linear-gradient(-45deg, #087C79, #003133, #087C79, #003133);
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.mainButtons{
  color: black;
  font-weight: 400;
  font-family: "Varela Round";
  background-color: white;
  width: 50%;
  height: 75px;
}

.card-header{
  background-color:whitesmoke;
}

.mainColumn{
  max-height: 100%;
}