@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background-color: #005151;
}

.App {
  text-align: center;
}

.mainButtons{
  color: black;
  font-weight: 400;
  font-family: "Varela Round";
  background-color: white;
  width: 50%;
  height: 75px;
}
