@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background-color: #005151;
}

.App {
  text-align: center;
}

.grid{
  background-color: #005151;
}

.cal{
  margin-top: 10px;
  width: 100%;
  color: #005151;
  font-family: "Varela Round";
  font-weight: 400;
  border-radius: 20px;
  margin-bottom: 10px;
  border: white;
  overflow: hidden;
  box-shadow: 5px 5px 5px #003133;
}

.cal2{
  margin-top: 10px;
  width: 100%;
  height: 97%;
  color: #005151;
  font-family: "Varela Round";
  font-weight: 400;
  border-radius: 20px;
  margin-bottom: 10px;
  border: white;
  overflow: hidden;
  box-shadow: 5px 5px 5px #003133;
}

.mainButtons{
  color: black;
  font-weight: 400;
  font-family: "Varela Round";
  background-color: white;
  width: 50%;
  height: 75px;
}
