.cal-button{
    border:none;
    color: #005151
}

#calendar-tooltip > .tooltip-arrow::before {
    border-bottom-color :#004343
}

#calendar-tooltip > .tooltip-inner {
    background-color:#004343
}