@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.card{
    background-color: white !important;
}

.card-header{
    font-family: "Varela Round";
}
.card-body{
    font-family: "Varela Round";
    font-size: small;
}