.add-goal-button {
    all: unset;
    cursor: pointer;
    color: grey;
    margin: 3%;
    margin-left: auto; 
    margin-right: 1%;
    padding: 0.5%;
}

.addIcon {
    color: #005151;
}

#dates {
    display: flex;
}

#headerTitle {
    margin-left:36%
}

#startDateTitle, #endDateTitle {
    text-align: center;
}

.yesButton {
    background-color: #005151;
    border-color: #005151;
}

.yesButton:hover {
    background-color: #004343;
    border-color: #004343;
}

.create-button{
    border:none;
    background-color: rgb(235, 235, 235);
}

#create-goal-tooltip > .tooltip-arrow::before {
    border-bottom-color :#004343
}

#create-goal-tooltip > .tooltip-inner {
    background-color:#004343
}