@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.goals-header {
    height: 10%;
    background: rgb(235, 235, 235);
    position: sticky;
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    font-weight: 400;
    font-family: "Varela Round";
}

.time-filters {
    margin-left: 1.5rem;
}

.status-filters {
    margin-left: 1.5rem;
}

.filter-button {
    height: 2rem;
    width: 6rem;

    background-color: white;
    color: black;

    border-width: 3px;
    border-color: #005151;

    text-align: center;
}

.filter-button:hover {
    background-color: #005b5b !important;
    border-color: #005b5b !important;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show{
    background-color: #005151 !important;
    border-color: #005151 !important;
}

.search {
    margin-left: 1.5rem;
    width: auto;
}

.search-field {
    border-width: 3px;
    border-color: #005151;

    height: 2rem;
}

.search-button {
    background-color: white;

    border-width: 3px;
    border-color: #005151;
    
    height: 2rem;
}

.magGlass {
    color: #005151;
    vertical-align: baseline;
}