@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.MuiPaper-root{
    border-radius: 10px !important;
    height: 100%;
}

.css-1hqtfvn-MuiPaper-root-MuiTableContainer-root {
    height: 100%;
}

.css-1nbmkk3-MuiPaper-root-MuiTableContainer-root {
    box-shadow: 5px 5px 5px #003133 !important;
}