.goals-calendar-group{
    height: 100%;
    background-color: white;
    font-family: "Varela Round";
    font-weight: 400;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #003133;
    list-style: none;
    padding-left:0;
}

.goal-item:hover{
    width: 100%;
    background-color: #F5F5F5;
    border: inset;
}