@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background: #087C79;
  background: linear-gradient(135deg, #087C79 0%,#003133 100%);
  /* background: linear-gradient(-45deg, #087C79, #003133, #087C79, #003133); */
}

html{
  font-size: 100%;
}

html,body{
  height:100%;
  min-height:100%; 
}
  

#loginform{
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 50%;
  height: 70%;
  margin: 10% auto;
  margin-top: 2.5%;
  background-color: #FFFFFF;
  border-radius: 25px;
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.rowLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  
}

.rowLogin input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.rowLogin input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.rowLogin input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.rowLogin input:hover::-webkit-input-placeholder,
.rowLogin input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.rowLogin label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.rowLogin button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: #087C79;
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.rowLogin button:disabled {
  background: grey;
  background: grey;
}

.rowLogin button:hover{
  opacity: 0.8;
}

.rowLogin button:hover:disabled{
  opacity: 1;
}

#buttonLogin{
  padding-bottom: 1.5rem;
}

#loginContainer{
  color:white;
  align-items: center;
  font-weight: 400;
  font-family: "Varela Round";
  padding-top:10vh;
}


#logo-text{
  font-size: x-large;
  font-weight: 525;
}

#logo-image{
  width: 20% !important;;
}

