.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  pointer-events: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  visibility: hidden;
}

.carousel-indicators {
  visibility: hidden;
  pointer-events: none;
}